#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.Container-Main {
  background: url(./assets/images/bg-stars.svg), hsl(234, 17%, 12%);
  background-color: hsl(234, 17%, 12%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: moveStars 30s linear infinite;
}

@keyframes moveStars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500px 500px;
  }
}

.Countdown-Box {
  color: aliceblue;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 45vh;
  text-align: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.Countdown-Timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 100%;
  margin-top: 0px;
  position: relative;
}

@keyframes flipInTop {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes flipOutTop {
  0% {
    transform: rotateX();
  }
  50% {
    transform: rotateX(-90deg);
  }
}

.flip-out-top {
  animation: flipOutTop 0.5s ease-out;
  animation-fill-mode: forwards;
}

.flip-in-top {
  animation: flipInTop 0.5s ease-in;
}

.CountdownUp {
  width: 100%;
  height: 10rem;
  background-color: hsl(235, 16%, 14%);
  border-radius: 12px;
  font-size: 200px;
}

.CountdownDown {
  width: 100%;
  height: 10rem;
  background-color: hsl(235, 16%, 14%);
  margin-top: 0.1rem;
  border-radius: 12px;
  font-size: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.Timer {
  color: hsl(345, 95%, 68%);
  position: absolute;
  font-size: 160px;
  margin-bottom: 25%;
}

.TimerDays {
  color: hsl(345, 95%, 68%);
  position: absolute;
  font-size: 155px;
  margin-bottom: 25%;
}

.Label {
  position: relative;
  color: aliceblue;
  font-size: 24px;
  margin-top: 20px;
}

.Text1 {
  margin-top: 70px;
  width: 100%;
  height: 10rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 36px;
}

.Social-Footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer {
  background-image: url(./assets/images/pattern-hills.svg);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  margin-top: 110px;
  background-size: cover;
}

.Footer img {
  width: 30px;
  height: 30px;
  margin-top: 100px;
  margin-right: 15px;
  margin-left: 15px;
  transition: filter 0.3s ease;
}

.Footer img:hover {
  filter: sepia(1.5);
}

@media screen and (max-width: 600px) {
  .Text1 {
    font-size: 24px;
  }

  .Countdown-Timer {
    width: 5rem;
    height: 30%;
    margin-top: 5rem;
  }

  .TimerDays {
    font-size: 30px;
    margin-bottom: 50%;
  }

  .Timer {
    font-size: 30px;
    margin-bottom: 50%;
  }

  .Label {
    font-size: 12px;
  }

  .Footer {
    background-size: auto;
  }
}
