@import "./base.module.scss";

.Box2 {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Box2of2 {
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.content1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Content {
  width: 90%;
  background-color: $color-lightMode-background-veryLightGrey;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.darkModeContent {
  background-color: hsl(207, 26%, 17%);
}
