$color-darkPrimaryElements-background-darkBlue: hsl(209, 23%, 22%);
$color-darkPrimaryBackground-veryDarkBlue: hsl(207, 26%, 17%);
$color-lightMode-text-veryDarkBlue: hsl(200, 15%, 8%);
$color-lightMode-input-DarkGrey: hsl(0, 0%, 52%);
$color-lightMode-background-veryLightGrey: hsl(0, 0%, 98%);
$color-darkModeText-lightModeElements-white: hsl(0, 0%, 100%);
