@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@import "../../base.module.scss";

.NavBox {
  width: 90%;
  height: 100px;
  background-color: $color-lightMode-background-veryLightGrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  box-shadow: 0px 5px 10px 0px #aaa;
}

.Text {
  color: $color-lightMode-text-veryDarkBlue;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
  // margin-right: 68%;
  // margin-left: 5%;
}

.Theme {
  width: 180px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BsMoon {
  position: absolute;
  scale: 150%;
}

.TextTheme {
  color: $color-lightMode-text-veryDarkBlue;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-left: 30px;
}

.darkMode {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}

.darkModeText {
  color: hsl(0, 0%, 100%);
}
